.top200 { margin-top:100px; }

@media (max-width: 978px) {
    .top200 { margin-top:15px; }
}

@media only screen and (max-width : 978px) {
	.box {
		height: auto !important;
	}
}

.flexContainer {
	display: flex;
	max-height: 800px;
	flex-direction: column;
}

@media (max-width: 978px) {
	.flexContainer { 
		display: flex;
		max-height: none;
		flex-direction: column;
	}
}

.scrollbox {
	/*border: solid #ddd 1px;*/
	flex: 1;
	overflow-y: auto;
}