<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Angular -->
    <script type="text/JavaScript" src="/js/angular.min.js"></script>
    <script type="text/JavaScript" src="/js/angular-cookies.js"></script>
    <script type="text/javascript" src="/js/headerController.js"></script>
    <script type="text/javascript" src="/js/looseTemplates.js"></script>
    <script type="text/javascript" src="/js/blogSidebar.js"></script>
    <script type="text/javascript" src="/js/blogPostApp.js"></script>

    <!-- Base Path -->
    <base href="/">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="BlogPostPage" ng-cloak>

    <!-- Navigation -->
    <navigation-bar></navigation-bar>

    <!-- Page Content -->
    <div class="container" ng-controller="BlogPostController as post">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{post.mainPost.title}}
                    <small>by <a href="#">{{post.mainPost.author}}</a>
                    </small>
                </h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Blog Post</li>
                </ol> -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <hr>

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Posted on {{post.mainPost.date | date:"MMMM d, yyyy 'at' h:mm a"}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" ng-src="{{post.mainPost.imageSrc}}" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{post.mainPost.description}}</p>
                <p ng-bind-html="post.mainPost.text">
                    <!-- {{post.mainPost.text}} -->
                </p>

                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p> -->

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media" ng-repeat="comment in post.comments">
                    <a class="pull-left" href="#">
                        <img class="media-object" ng-src="{{comment.imageSrc}}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.author}}
                            <small><i class="fa fa-clock-o"></i> {{comment.date | date:"MMMM d, yyyy 'at' h:mm a"}}</small>
                        </h4>
                        {{comment.text}}
                        <!-- Nested Comments -->
                        <div class="media" ng-repeat="innerComment in comment.comments">
                            <a class="pull-left" href="#">
                                <img class="media-object" ng-src="{{innerComment.imageSrc}}" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{innerComment.author}}
                                    <small><i class="fa fa-clock-o"></i> {{comment.date | date:"MMMM d, yyyy 'at' h:mm a"}}</small>
                                </h4>
                                {{innerComment.text}}
                                </div>
                        </div>
                    </div>
                </div>

                <!-- Padding. A bit hacky, but it works, so whatever.  -->
                <div class="row" style="margin-top:20px;"></div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <blog-sidebar></blog-sidebar>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer-and-copyright></footer-and-copyright>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
