<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Angular -->
    <script type="text/JavaScript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/indexBlogApp.js"></script>
    <script type="text/javascript" src="/js/headerController.js"></script>
    <script type="text/javascript" src="/js/blogSidebar.js"></script>
    <script type="text/javascript" src="/js/looseTemplates.js"></script>

    <!-- Base Path -->
    <base href="/">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="BlogFrontPage" ng-cloak>

    <!-- Navigation -->
    <navigation-bar></navigation-bar>

    <!-- Page Content -->
    <div class="container" ng-controller="BlogController as blog">

        <!-- Padding -->
        <div class=""
        <!-- Image header -->
        <div class="row">
            <img width="100%" ng-src="{{blog.logo}}"/>
            Should probably get something thinner here
        </div>
        <!-- Page Heading/Breadcrumbs -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog Home One
                    <small>Subheading</small>
                </h1>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- scroll-header is the tag to scroll to when the previous and next buttons are clicked.  -->
        <div class="row" id="scroll-header"> 

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <div ng-repeat="brief in blog.briefs">
                    <h2>
                        <a href="{{'/blogpost?postID=' + brief.id}}" target="_self"><!-- Blog Post Title -->{{brief.title}} </a>
                    </h2>
                    <p class="lead">
                        by <a href="{{'/blogpost?postID=' + brief.id}}"><!-- Author -->{{brief.author}} </a>
                    </p>
                    <p><i class="fa fa-clock-o"></i> <!-- Posted on August 28, 2013 at 10:00 PM -->Posted on {{brief.date | date:"MMMM d, yyyy 'at' h:mm a"}} </p>
                    <hr>
                    <a href="{{'/blogpost?postID=' + brief.id}}" target="_self" ng-show="{{brief.imageSource != null && brief.imageSource != undefined}}">
                        <img class="img-responsive img-hover" ng-src="{{brief.imageSource}}" alt="{{brief.imageAltText}}">
                    </a>
                    <hr>
                    <p>{{brief.description}}</p>
                    <a class="btn btn-primary" href="{{'/blogpost?postID=' + brief.id}}" target="_self">Read More <i class="fa fa-angle-right"></i></a>
                    <hr>
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#" ng-click="blog.getSet(blog.upperMost - blog.viewLimit)">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#" ng-click="blog.getSet(blog.upperMost + blog.viewLimit)">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <blog-sidebar></blog-sidebar>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer-and-copyright></footer-and-copyright>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
