<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Angular -->
    <script type="text/JavaScript" src="/js/angular.min.js"></script>
    <script type="text/JavaScript" src="/js/angular-messages.js"></script>
    <script type="text/JavaScript" src="/js/headerController.js"></script>
    <script type="text/JavaScript" src="/js/looseTemplates.js"></script>
    <script type="text/JavaScript" src="/js/ordersApp.js"></script>
    <script type="text/javascript" src="/js/registrationDirectives.js"></script>

    <!-- Base Path -->
    <base href="/">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="OrdersPage" ng-cloak>

    <div id="wrapper">

        <!-- Navigation -->
        <navigation-bar-settings></navigation-bar-settings>

        <div id="page-wrapper" ng-controller="OrdersController as orders">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row col-lg-9">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Your Orders
                        </h1>
                    </div>
                </div>

                <!-- Pending Orders -->
                <div class="row col-lg-9">
                    <div class="col-md-4">
                        <h1 class="page-header">
                            Pending Orders
                        </h1>
                    </div>
                    <div class="col-md-8">
                        <!-- For each pending order panel -->
                        <div class="panel panel-default" ng-repeat="order in orders.pendingOrders">
                            <div class="panel-heading">
                                <div class="row">
                                    <!-- Order number -->
                                    <div class="panel-title">
                                        <h3 class="col-sm-4"><b>
                                            Order #{{ order.orderNumber }}
                                        </b></h3>
                                    </div>
                                    <!-- Order data -->
                                    <div class="text-right col-sm-8">
                                        <p><b>Order placed:</b> {{ order.orderDate | date:"MMMM d, yyyy" }}</p>
                                        <p><b>Expected delivery:</b> {{ order.delivery | date:"MMMM d, yyyy" }}</p>
                                        <p><b>Total:</b> {{order.price | currency}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <!-- For each item in the order -->
                                <div class="col-lg-12" ng-repeat="itemRepresentation in order.items" ng-init="item = orders.itemList[itemRepresentation.itemId]">
                                    <div class="media">
                                        <div class="pull-left">
                                            <a href="{{'/item?item=' + item.id}}" target="_self">
                                                <img ng-src="{{item.image}}" alt="..." class="img-responsive media-object"/>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"> 
                                                {{ item.name }} 
                                                <small>
                                                    x {{itemRepresentation.quantity}}
                                                </small>
                                                 = 
                                                <small>
                                                    {{item.price * itemRepresentation.quantity | currency}}
                                                </small>
                                            </h4>
                                            <p ng-bind-html="item.shortDescription"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button type="button" class="btn btn-md btn-danger" ng-click="orders.deletePending($index)">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Cancel Order
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div 
                <!-- Completed Orders -->
                <div class="row col-lg-9">
                    <div class="col-md-4">
                        <h1 class="page-header">
                            Completed Orders
                        </h1>
                    </div>
                    <div class="col-md-8">
                        <!-- For each pending order panel -->
                        <div class="panel panel-default" ng-repeat="order in orders.pendingOrders">
                            <div class="panel-heading">
                                <div class="row">
                                    <!-- Order number -->
                                    <div class="panel-title">
                                        <h3 class="col-sm-4"><b>
                                            Order #{{ order.orderNumber }}
                                        </b></h3>
                                    </div>
                                    <!-- Order data -->
                                    <div class="text-right col-sm-8">
                                        <p><b>Order placed:</b> {{ order.orderDate | date:"MMMM d, yyyy" }}</p>
                                        <p><b>Delivered on:</b> {{ order.delivery | date:"MMMM d, yyyy" }}</p>
                                        <p><b>Total:</b> {{order.price | currency}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <!-- For each item in the order -->
                                <div class="col-lg-12" ng-repeat="itemRepresentation in order.items" ng-init="item = orders.itemList[itemRepresentation.itemId]">
                                    <div class="media">
                                        <div class="pull-left">
                                            <a href="{{'/item?item=' + item.id}}" target="_self">
                                                <img ng-src="{{item.image}}" alt="..." class="img-responsive media-object"/>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"> 
                                                {{ item.name }} 
                                                <small>
                                                    x {{itemRepresentation.quantity}}
                                                </small>
                                                 = 
                                                <small>
                                                    {{item.price * itemRepresentation.quantity | currency}}
                                                </small>
                                            </h4>
                                            <p ng-bind-html="item.shortDescription"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
